<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/homepage.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
</head>
<body>
   

    <div class="logout mt-4">
      <form action="/" method="post">
        <h4>Welcome to the homepage </h4>
        <button type="submit">Logout</button>
      </form>
    </div>
    <br>
    <div class="card-group mt-4">
      <div class="card">
        <img class="card-img" src="/img/mojito.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Mojito</h5>
          <p class="card-text">price :- 80.00</p>
          
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/download.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pizza</h5>
          <p class="card-text">price :- 330.00</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/img/Longevity-Noodles-FT-RECIPE1122-7844eba95b8a4094b41fa1153cefc3e3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Noodles</h5>
          <p class="card-text">price :- 150.00</p>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
</html>