.custom-navbar h4{
    margin-left: 60px;
}
.navbar-brand{
    text-align: left;
    margin-left: 60px;
}

.nav-item{
    margin-left: 60px;
}
.container{ 
    text-align: right;
}

.form-inline{
    margin-right: 100px;
}

.container2{
    padding-left: 60px;
    padding-right: 60px;
}